.movie {
	width: 100%;
	padding: 0 35px;
}

.title {
	font-size: 28px;
	line-height: 1;
	text-align: center;
	font-weight: 700;
	color: #4F4F4F;
	padding-bottom: 16px;
	word-break: break-all; 
}

.titleHeader {
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	color: #4F4F4F;
	padding-bottom: 25px;
	text-align: center;
}

.year {
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	padding-bottom: 12px;
	& + span {
		word-break: break-all; 
	}
}

.actors {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	padding-bottom: 14px;
	& + span {
		word-break: break-all; 
	}
}

.name {
	color: #0066ff;
	font-weight: 500;
}

.format {
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	padding-bottom: 12px;
}

