
.title {
	color: #0066ff;
	font-size: 20px;
	font-weight: 500;
	padding-right: 5px;
	text-align: center;
	padding-bottom: 20px;
}

.tab {
	font-size: 16px;
	line-height: 1.5;
	padding: 0 5px;
	cursor: pointer;
	font-weight: 500;
	color: #4F4F4F;
	&.active {
		background: #4F4F4F;
		color: #fff;
	}
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;

	& > * {
		margin-bottom: 15px;
		width: 300px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
}

.input {
	letter-spacing: 0.017em;
	color: #4F4F4F;
	font-size: 16px;
	font-weight: 700;
	margin-left: 10px;
	padding-left: 5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgba(82, 168, 236, 0.8);
	height: 30px;
	&:focus {
		outline: none;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	}
	&::-webkit-input-placeholder {
	color: #979797;
	font-weight: 500;
	font-size: 16px;}
}


.select {
	width: 200px;
	&:focus {
		outline: none;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	}
}

.btn {
	min-height: 35px;
    height: auto;
    background: linear-gradient(to right, #42ca9a, #39bfa2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 35px;


	&:hover {
		box-shadow: 0 0 8px rgba(0, 0, 0, .12);
	}
}


.btnName {
	width: 100%;
	height: 100%;
	font-size: 18px;
    font-weight: 500;
    text-align: center;

}

.btnActor {
	margin-top: 5px;
	padding: 0;
    background: #4F4F4F;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50%;
    height: 26px;
  	color: #fff;
  	line-height: 24px;
  	text-align: center;
  	border-radius: 3px;
  	border: 1px solid #4F4F4F;
  	transition: all .5s;
  	&:hover {
  		background: #fff;
		color: #4F4F4F;
		border: 1px solid #4F4F4F;
  	}
}

.labelActors {
	flex-direction: column;
}

.other {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	justify-content: space-between;
}

.nameActors {
	padding-bottom: 8px;
}

.actorsAdd {
	width: 100%;
	margin-bottom: 8px;
	span:first-child {
		color: #0066ff;
	}
}

.wrapActor {
	width: 100%;
}