$color: #5A5C61;
$color-back: #DADADA;
$bg-back: #C8F2E8;

.back {
  border-top: 2px solid $color-back;
  border-right: 2px solid $color-back;
  transform: rotate(225deg);
  width: 13.5px;
  height: 13.5px;
  cursor: pointer;
}

.title {
  color: $color;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 24px;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: auto;
  padding-left: 20px;
  min-height: 55px;
  margin-bottom: 10px;

  &:hover {
    .back {
      border-top: 2px solid $bg-back;
      border-right: 2px solid $bg-back;
    }
  }
}