.movie {
	width: 50%;
	margin: 10px 0;
	padding: 0 25px;
}

.title {
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	color: #4F4F4F;
	padding-bottom: 16px;
}

.year {
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	padding-bottom: 12px;
}

.actors {
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	padding-bottom: 14px;
}

.name {
	color: #0066ff;
	font-weight: 500;
}

@media screen and (max-width: 540px){
	.movie {
		width: 85%;
		margin: 10px auto;
		padding: 0 20px;
	}
} 


.delete {
  position: relative;
  display: inline-block;
  width: 25.5px;
  height: 19.7px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    &::before, &::after {
      background: #C8F2E8;
    }
  }

  &::before, &::after {
    content: '';
    transition: background .2s;
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #DADADA;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}