.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.title {
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	color: #4F4F4F;
	padding-bottom: 25px;
	text-align: center;
}