.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.title {
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	color: #4F4F4F;
	padding-bottom: 25px;
	text-align: center;
}

.menu {
	padding: 0 20px;
	flex-wrap: wrap;
	min-height: 75px;
	height: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.unload {
	text-align: center;
	padding-bottom: 10px;
	vertical-align: middle;
}

.load {
	color: #0066ff;
	font-size: 20px;
	font-weight: 500;
	padding-right: 15px;
}

.or {
	color: #0066ff;
	font-size: 16px;
	font-weight: 500;
}

input[type="file"] {
    vertical-align: middle;
}